<!-- <script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue'
import EventListeners from './components/icons/EventListeners.vue'
import FormBindings from './components/icons/FormBindings.vue'
import ConditionalRendering from './components/ConditionalRendering.vue'
import ListRendering from './components/ListRendering.vue'
</script>
<template>
  <h1>Hello World</h1>
  <DeclarativeRendering/>
  <AttributeBindings/>
  <EventListeners/>
  <FormBindings />
  <ConditionalRendering />
  <ListRendering />
</template> -->

<script setup lang="ts">
import BMIView from './views/BMIView.vue';
</script>
<template>
  <BMIView />
</template>
